<div class="weekday-wrapper">
  @for (day of weekdays; track day) {
    <div class="day-box-full">

      <!-- Day Label -->
      <div class="day-label">{{ day }}</div>

      <!-- Main Goals -->
      <div class="day-content">
        @for (category of goalCategories; track category) {
          <div class="goal-section">
            <label class="goal-label">
              <input
                type="checkbox"
                [(ngModel)]="goals[day][category].checked"
              />
              <span class="goal-title">{{ category }}</span>
            </label>
            <textarea
              class="goal-input-textarea"
              rows="1"
              [(ngModel)]="goals[day][category].note"
              #noteInput
              (input)="autoGrow(noteInput)"
            ></textarea>
          </div>
        }

        <div class="subgoal-wrapper">
          <div class="subgoal-content">
            @for (sub of subgoalCategories; track sub) {
              <div class="subgoal-item">
                <label class="subgoal-label">
                  <input
                    type="checkbox"
                    [(ngModel)]="goals[day][sub].checked"
                  />
                  <span class="subgoal-title">{{ sub }}</span>
                </label>
              </div>
            }
          </div>
        </div>

      </div>
    </div>
  }
</div>
